body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-color: black;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/img_vietnam.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

.content {
    width: 40em;
    max-width: 1060px;
    margin: 1.5em;
    color: black;
    font-family: "IBM Plex Serif", Garamond, serif;
    font-size: 1.1em;
    position: relative;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.interesting {
    font-weight: bold;
}

p, ul {
    background-color: rgba(255,255,255,0.8);
    padding: 0.8em 1em;
    margin: 0.4em 0;
}

ul {
    padding-left: 2rem;
}

tt, code {
    font-family: "IBM Plex Mono", monospace;
}
